<h1> ESCOLINHA</h1>
<ul>
<li *ngFor = "let disciplina of subjects.subjects" (click)="subjects.selecionar(disciplina)">
 {{disciplina.nome}}
 <p *ngIf="subjects.Selecionado == disciplina">{{disciplina.descricao}}</p>
 
 <button (click)="subjects.remover(disciplina)">
    Excluir
 </button>
 <button (click)="subjects.editar(disciplina)">
    Editar
 </button>
</li>
<h1></h1>
<p *ngIf = "subjects.subjects.length > 0"><button (click)="subjects.desselecionar()">
    Cancelar
</button>
 </p> 
<h2>CADASTRAR</h2>

<form #cadastro="ngForm" (submit)="subjects.confirmar()">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="doesitevenmatter?" [(ngModel)]="subjects.nome" required>
    </div>

    
    <div>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" [(ngModel)]="subjects.descricao" required>
    </div>
    <div><button type="submit" [disabled]="!cadastro.valid">
        Confirmar
    </button></div>
</form>

</ul>